p{
  font-family: roboto,arial;
  margin-top:0;
  margin-bottom:0;
}
body{
  margin:0;
  padding-top:96px;
  padding-left:100px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}