.header{
  height:65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  top: 0;
  left: 0;
  right:0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(224, 220, 220);
  z-index:100;

}
.start-section{
  
  display: flex;
  align-items: center;
  
}
.end-section{
  width:200px;
}
.middle-section{
  max-width:500px;
  margin-right:35px;
  margin-left:70px;
  flex:1;
  display: flex;
  align-items: center;
}
.hamburger-menu{
  height:20px;
  margin-left:25px;
  margin-right: 25px;
}
.youtube-logo{
  height: 20px;
}

.search::placeholder{
  
  font-family:roboto,arial;
  font-size: 16px; 
}
.search{
  display:flex;
  flex: 1;
  height: 37px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 188, 188);
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0 0 0 0.3);
  border-radius: 2px;
  width: 0;
}
.search:focus{
  outline: none;
}

.search-button{
  height:41px;
  width: 66px;
  background-color: rgb(241, 233, 233);
  border-style:solid;
  border-width: 1px;
  border-color: rgb(190, 188, 188);
  margin-left: -1px;
  margin-right: 10px;
 
  
}
.search-button,
.voice-search-button,
.create-icon-container,
.youtube-apps-container,
.notifications-icon-counts{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search-icon{
  height:25px; 
  
 
}
.search-button .tooltip,
.voice-search-button .tooltip,
.create-icon-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-counts .tooltip
{
  font-family: roboto,arial;
  position:absolute;
  background-color: grey;
  color:white;
  padding-top:4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius:2px;
  font-size:12px;
  bottom:-30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;

}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.create-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-counts:hover .tooltip{
  opacity: 1;
}
.voice-search-button{
  height:40px;
  width:40px;
  border-radius:20px;
  border:none;
  background-color: rgb(241, 240, 240);
}
.voice-search-icon{
 
  height:25px;
}
.end-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-right:20px;
  flex-shrink: 0;

}
.upload-icon{
height:24px;
}
.youtube-apps-icon{
height: 24px;
}
.notifications-icon{
height:24px;
}
.my-channel-icon{
height:30px;
border-radius: 15px;
}
.notifications-icon-counts{
  position: relative;
}
.notifications-counts{
  position:absolute;
  top:-5px;
  right:-5px;
  background-color: rgb(193, 1, 1);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  font-family: roboto,arial;
  font-size:11px;
}
